apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-api
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    spec:
      containers:
        - name: api
          image: {{ .Values.image.api }}
