version: "3.9"
services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    environment:
      - ENV=production
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres
  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.ui
    environment:
      - API_URL=http://api:8000
    ports:
      - "8501:8501"
    depends_on:
      - api
  redis:
    image: redis
  postgres:
    image: postgres
